@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300&display=swap');

.footer-component{
    border-top: $primary-grey 1px solid;
    background-color: $primary-blue;
}

.footer {
    padding: 3vh 0;
    width: 90vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Bitter', serif;
    font-size: .8em;
    color: white;

    &__socials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 20%;
        padding-top: 1.2vh;

        &-icon {
            height: 2vh;
        }
    }
}
