@use './colors';
@use './screens';


@mixin mobile-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

@mixin tablet-heading {
    font-size: 2rem;
    font-weight: 700;
}

@mixin input {
    font-family: 'Avenir Next';
    border: 1px solid colors.$mercury;
    border-radius: 4px;
    background-color: colors.$alabaster;
    margin-bottom: 1rem;
    resize: none;
    outline: none;

    &:focus {
        border: 2px solid colors.$primary-color;
    }
}

@mixin button {
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: colors.$primary-color;
    color: colors.$white;
    padding: 0.75rem 0;
    font-size: 0.75rem;
    font-weight: 700;
    background-repeat: no-repeat;
    background-position: 5% center;
    background-size: 1.35rem;

    &:hover {
        background-color: colors.$primary-color-darker;
    }
}

@mixin avatar{
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: colors.$mercury;
}

@mixin upload-heading {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: colors.$silver;
    margin: 0 0 0.25rem 0;
}

@mixin tablet {
    @media (min-width: screens.$tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: screens.$desktop-breakpoint) {
        @content;
    }
}

@mixin link {
    text-decoration: none;
    color: colors.$primary-black;
    font-size: 1.3em;
}